#add_row{background-color:#00BFFF; color: white;padding: 5px 5px;text-align: center;margin:4px;text-decoration: none;
    display: inline-block;}
#delete_row{background-color:#DC143C;color: white;padding: 5px 5px;text-align: center;margin:4px;text-decoration: none;
    display: inline-block;}  